/* 
    Document   : formVanadium
    Created on : 04/06/2011, 09:39:43 PM
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
input.rightformcss,select.rightformcss,textarea.rightformcss{border:1px solid green;padding:1px;}
.failmsg{color:tomato;}
/*.failmsg{color:#a40000;}*/
.msgvaluecss{font-style:normal;}
input.failformcss,select.failformcss,textarea.failformcss{border:1px solid tomato;padding:1px;}
/*input.failformcss,select.failformcss,textarea.failformcss{border:1px solid #a40000;padding:1px;}*/
